{% extends 'layout.html' %} {% block content %} {% include 'navbar.html'%} {%
from "_formhelpers.html" import render_field %}
<div class="container">
<div class="row mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="container text-center text-white bg-info h4 p-2 mb-2">
      Login
    </div>
    <div class="">
      {% include '_messages.html' %}

      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="">
          {{ render_field(form.email,class='form-control') }} {{
          render_field(form.password ,class='form-control') }}
        </div>
        <p>
          <input type="submit" value="Login" class="btn btn-info text-end" />
        </p>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
{% endblock %}
