
.card{
    transition: .5s;
}

.card:hover{
    transform: scaleY(1.05);
}
.card img{
    width: 100%;
    height: 250px;
}
.gra,.dropdown ul{
    background-color: #12030a !important;
}
.navbar{
    color:none;
}
.navbar-toggler{
    background-color: white;
}
.text a,.navbar-toggler{
    color:white !important;
}
.text a:hover{
    color: #f3ab27 !important;
}
/* #s_image img{
  margin-left: 14px;  
}
#s_image:first-child{
    margin-left: -14px;
}
#s_image:last-child{
    margin-left: -12px;
} */
/* #b_image img{
    width: 400px;
    height: 400px;
} */
