{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Grapec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/brands">Brands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/addproduct">Add product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/addbrand">Add brand</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/addcat">Add category</a>
            </li>
            
  
           
           
          </ul>
          <form class="d-flex" role="search" action="{{url_for('result')}}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
<!--==========END NAVBAR ==============-->

<div class=" mt-5">
    {% include '_messages.html' %}
    <div class="table-responsive-md container-xxl">
    <table class="table table-sm table-bordered table-dark align-middle" >
        <thead>
            <tr>
            <th scope="col">Sr</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Amt</th>
            <th scope="col">Disc</th>
            <th scope="col">Brand</th>
            <th scope="col">Edit</th>
            <th scope="col">Del</th>
        </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{loop.index}}</td>
            <td> <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" width="30" height="30"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.discount }} %</td>
            <td>{{ product.brand.name}}</td>
            <td> <a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-sm btn-info">Edit </a> </td>
            <td> <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{product.id}}">
              Delete
            </button></td>
          </tr>

 <!--============= MODEL ===================-->
 <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{product.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-danger">Are you Sure that you want to delete this Product ({{ product.name }})</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancel</button>
                <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
<!--==============MODEL ===================-->

          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}